.menu {
    position: absolute;
    width: 100px;
    box-shadow: 0 0 5px grey;
    border-radius: 3px;
}

.menu button {
    width: 100%;
    background-color: white;
    border: none;
    margin: 0;
    padding: 3px 10px;
}

.menu button:hover {
    background-color: lightgray;
}

.grab {
    cursor: grab;
}

.grabbing {
    cursor: grabbing;
}

:root {
    --toolbar-height: 48px;
}

.toolbar {
    cursor: default;
    position: relative;
    display: flex;
    justify-content: left;
    height: var(--toolbar-height);
    width: 100%;
    background-color: #525252;
    color: white;
    font-size: 13px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.filename-view {
    display: flex;
    flex: 0 1 auto;
    height: var(--toolbar-height);
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    font-size: 14px;
}

.filename-title {
    display: inline-block;
    margin-right: 2px;
}

.chevron-container {
    width: 18px;
    display: flex;
    flex: 0 0 auto;
}

.home-container {
    height: var(--toolbar-height);
    width: var(--toolbar-height);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 7px;
}

.home-container:hover {
    background-color: #969696;
}

.pin-editor-form {
    color: black;
    background-color: white;
}

.scrolling-stage {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#444cf7 1.1px, #e5e5f7 1.1px);
    background-size: 22px 22px;
}

.searchbar {
    display: flex;
    flex: 0 1 auto;
    height: var(--toolbar-height);
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
}

.searchbar-input {
    color: snow;
    background-color: rgba(0, 0, 0, 0);
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px black solid;
}

.searchbar-input:focus {
    outline: none;
    border-bottom: 1px red solid;
}

.stage {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.stage-background {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#444cf7 1.1px, #e5e5f7 1.1px);
    background-size: 22px 22px;
    z-index: -1;
}

.stage-canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.coordinate-display {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
}

.toolbar {
    cursor: default;
    position: relative;
    justify-content: left;
    width: 100%;
    background-color: #525252;
    color: white;
    font-size: 13px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;

    display: flex;
    height: var(--toolbar-height);
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: var(--toolbar-height);
}

.overlay {
    position: relative;
    width: 100%;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.stage-overlay {
    position: absolute;
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

.old-overlay {
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.39);
    z-index: 1;
    color: white;
}
