
.menu {
    position: absolute;
    width: 60px;
    box-shadow: 0 0 5px grey;
    border-radius: 3px;
}
  
.menu button {
    width: 100%;
    background-color: white;
    border: none;
    margin: 0;
    padding: 10px;
}
  
.menu button:hover {
    background-color: lightgray;
}

.grab {
    cursor: grab;
}
  
.grabbing {
    cursor: grabbing;
}